<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>撞破南墙找西墙 - 404 Not Found</title>
    <link href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/s.css">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
</head>
<body>

{% include '_nav_index.html' %}

<div class="container">
    <br><br><br><br><br><center><font size="30px">404</font><br><br><h1>Not Found</h1><br><br><br><br>
    <br><a href="/"><button type="submit" class="btn btn-ff9933" style="width: 80%; height: 50px; font-size: 20px;">返回主页</button></a></center><br><br><br><br><br><br><br>
</div>

<!-- 页脚 -->
<footer class="footer">
    <div class="container">
        <br>
        <h3>撞破南墙找西墙</h3>
        <br>
        <p>© 2023 撞破南墙找西墙. All rights reserved.</p>
    </div>
</footer>

<script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.bundle.min.js"></script>
</body>
</html>
